* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    padding: 1% 5% 3% 5%;
}

header a {
    color: white;
    text-decoration: none;
}

header input {
    width: 290px;
    height: 35px;
    border: none;
    border-radius: 3px;
    text-align: center;
}

header button {
    height: 35px;
    width: 80px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

.site-name {
    font-size: 2em;
    color: #ffe600;
    margin: 0;
    padding: 0;
}

.link-row {
    display: flex;
    gap: 20px;
}

.nav-search {
    display: block;
}

main {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-bottom: 2%;
}

.main-title {
    color: #ffe600;
    font-size: 1.3em;
    font-weight: 550;
    margin: 1% 0;
}


.movies-row {
    display: flex;
    padding-left: 1%;
    margin-top: 1%;
    gap: 20px;
}

.movie-info {
    display: flex;
    flex-direction: column;
}

.movie-img img {
    width: 213px;
    height: 316px;
}

section {
    background-color: lightgrey;
    /* display: flex; */
}

.section-title {
    color: #ffe600;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.boxes-offices {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.movie-office {
    background-color: white;
    width: 300px;
    padding: 5px;
    margin: 5px 10px;

    /* height: 50px; */

}

.movie-office a {
    padding-bottom: 50px;
}

.movie-office-info {
    background-color: lightgray;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px 5px 25px;
}

.movie-title {
    color: #ffe600;
    width: 213px;
    font-size: 1em;
    font-weight: 550;
    margin: 7% 0;
}

.movie-detail {
    color: white;
    width: 213px;
    font-size: 0.9em;
    font-weight: 200;
    margin: 2% 0;
}

.ext-link {
    color: cornflowerblue;
    text-decoration: none;
}

.movie-calification {
    color: greenyellow;
}